*.in
*.o
.deps
Makefile
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
htop
install-sh
libtool
ltmain.sh
m4
missing
stamp-h1
.*.swp
Session.vim
proc
sedarwin7
TAGS
tags
